.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  min-height: 72px;
  width: 1205px;
}

.header__wrapper {
  background: rgba(232, 132, 130, 0.2);
  width: 100%;
  min-height: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.header__logo {
  width: 7%;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

.header__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 52%;
  overflow-x: auto;
  overflow-y: hidden;
}

.header__menu_item {
  line-height: 30px;
}

.header__menu_item-link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

.header__menu_item-link:hover {
  color: #fce38a;
}

.header__menu_item:hover {
  border-bottom: 2px solid #fce38a;
}

.header__menu_shop {
  background: url("shop.png") no-repeat;
  width: 18px;
  height: 14px;
}

.header__menu_search {
  background: url("search.png") no-repeat;
  width: 18px;
  height: 18px;
}

.welcome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 1000px;
  width: 1205px;
}

.welcome__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: url("banner.png") no-repeat;
  width: 100%;
  min-height: 1000px;
  background-position: center;
  background-size: cover;
}

.welcome__paragraph {
  text-align: center;
  font-size: 72px;
  font-family: 'Kaushan Script', cursive;
  color: white;
}

.welcome__caption {
  text-align: center;
  font-size: 150px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

.welcome__line {
  min-height: 50px;
  width: 5%;
  border-bottom: 3px solid white;
}

.welcome__button {
  padding: 50px 0;
}

.welcome__button_item {
  min-height: 40px;
  min-width: 160px;
  background: none;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.aboutus {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  min-height: 750px;
  width: 1205px;
}

.aboutus__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 750px;
}

.aboutus__text {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.aboutus__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.aboutus__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.aboutus__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.aboutus__text_pr {
  padding: 40px 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  text-align: center;
  width: 80%;
}

.aboutus__picture {
  width: 1205px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: space-between;
}

.aboutus__picture_keybords {
  background: url("keybords.png") no-repeat;
  height: 250px;
  width: 380px;
}

.aboutus__picture_table {
  background: url("table.png") no-repeat;
  height: 250px;
  width: 380px;
}

.aboutus__picture_tree {
  background: url("tree.png") no-repeat;
  height: 250px;
  width: 380px;
}

.aboutus__picture_table:hover {
  background: url("user.png") no-repeat 50% 50%, url("superteam.png") no-repeat 50% 60%, url("tablehover.png") no-repeat;
  box-shadow: 10px 10px #95e1dd;
}

.aboutus__picture_keybords:hover {
  background: url("user.png") no-repeat 50% 50%, url("superteam.png") no-repeat 50% 60%, url("keybordshover.png") no-repeat;
  box-shadow: 10px 10px #95e1dd;
}

.aboutus__picture_tree:hover {
  background: url("user.png") no-repeat 50% 50%, url("superteam.png") no-repeat 50% 60%, url("treehover.png") no-repeat;
  box-shadow: 10px 10px #95e1dd;
}

.facts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 1205px;
  min-height: 270px;
}

.facts__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #95e1d3;
  width: 100%;
  min-height: 270px;
}

.facts__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 270px;
  width: 20%;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.facts__block_number {
  font-size: 72px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

.facts__block_name {
  font-size: 14px;
  font-family: "Montserrat";
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: bold;
}

.facts__block:nth-child(1) {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.amazing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 650px;
  width: 1205px;
}

.amazing__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 650px;
}

.amazing__text {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.amazing__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.amazing__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.amazing__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.amazing__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 320px;
}

.amazing__list_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 33%;
  min-height: 160px;
}

.amazing__list_item-photography {
  background: url("photo.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-web {
  background: url("web.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-creativity {
  background: url("comp.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-seo {
  background: url("book.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-css {
  background: url("home.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-digital {
  background: url("image.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-aboutit {
  margin-left: 25px;
  width: 80%;
}

.amazing__list_item-aboutit-caption {
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.amazing__list_item-aboutit-par {
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
}

.amazing__list_item:nth-child(1), .amazing__list_item:nth-child(2), .amazing__list_item:nth-child(3) {
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}

.feature {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  min-height: 853px;
  width: 1205px;
  position: relative;
}

.feature__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: url("winter.png") no-repeat;
  width: 100%;
  min-height: 853px;
  background-position: center;
  background-size: cover;
}

.feature__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.feature__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.feature__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.feature__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.feature__planshet {
  background: url("planshet.png") no-repeat;
  height: 583px;
  width: 477px;
}

.feature__iphone {
  position: absolute;
  background: url("iphone.png") no-repeat;
  width: 274px;
  height: 476px;
  bottom: -90px;
  right: 200px;
}

.service {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 900px;
  width: 1205px;
}

.service__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 900px;
}

.service__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.service__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.service__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.service__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.service__text_pr {
  padding: 30px 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  text-align: center;
  width: 80%;
}

.service__work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 380px;
}

.service__work_picture {
  background: url("men.png") no-repeat;
  width: 47%;
  min-height: 380px;
}

.service__work_list {
  width: 47%;
  min-height: 380px;
}

.service__work_list-item {
  position: relative;
  width: 550px;
  padding: 10px 15px;
  background: #fff;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
  border: 1px solid #e5e5e5;
}

.service__work_list-item-about {
  overflow-x: hidden;
  max-height: 180px;
  overflow-y: auto;
  min-height: 100px;
  border: 1px solid #e5e5e5;
  position: absolute;
  top: 100%;
  width: 550px;
  left: -1px;
  right: 0px;
  background: white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  list-style: none;
  opacity: 0;
  pointer-events: none;
}

.service__work_list-item-about li {
  width: 530px;
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.service__work_list-item:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: grey transparent;
}

.service__work_list-item.active:after {
  border-width: 0 6px 6px 6px;
}

.service__work_list-item.active .service__work_list-item-about {
  opacity: 1;
  pointer-events: auto;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
