.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  min-height: 72px;
  width: 100%;
}

.header__wrapper {
  background: rgba(232, 132, 130, 0.2);
  width: 100%;
  min-height: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.header__logo {
  margin-left: 30px;
  width: 7%;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

.header__menu {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 52%;
  overflow-x: auto;
  overflow-y: hidden;
}

.header__menu_item {
  line-height: 30px;
}

.header__menu_item-link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

.header__menu_item:hover {
  border-bottom: 2px solid #fce38a;
}

.header__menu_item:hover .header__menu_item-link {
  color: #fce38a;
}

.header__menu_shop {
  background: url("shop.png") no-repeat;
  width: 18px;
  height: 14px;
}

.header__menu_search {
  background: url("search.png") no-repeat;
  width: 18px;
  height: 18px;
}

.welcome {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 1000px;
  width: 100%;
}

.welcome__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: url("welcome/banner.jpg") no-repeat;
  width: 100%;
  min-height: 1000px;
  background-position: center;
  background-size: cover;
}

.welcome__paragraph {
  text-align: center;
  font-size: 68px;
  font-family: 'Kaushan Script', cursive;
  color: white;
}

@media only screen and (max-width: 479px) {
  .welcome__paragraph {
    font-size: 48px;
  }
}

.welcome__caption {
  text-align: center;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 479px) {
  .welcome__caption {
    font-size: 62px;
  }
}

.welcome__line {
  min-height: 50px;
  width: 5%;
  border-bottom: 3px solid white;
}

.welcome__button {
  padding: 50px 0;
}

.welcome__button_item {
  min-height: 40px;
  min-width: 160px;
  background: none;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.aboutus {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  min-height: 750px;
  width: 100%;
}

@media only screen and (max-width: 479px) {
  .aboutus {
    min-height: 1200px;
  }
}

.aboutus__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 750px;
}

@media only screen and (max-width: 479px) {
  .aboutus__wrapper {
    min-height: 1200px;
  }
}

.aboutus__text {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.aboutus__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.aboutus__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.aboutus__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.aboutus__text_pr {
  padding: 40px 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  text-align: center;
  width: 80%;
}

.aboutus__picture {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 479px) {
  .aboutus__picture {
    min-height: 800px;
    justify-content: center;
  }
}

.aboutus__picture_keybords {
  background: url("aboutus/keybords.jpg") no-repeat;
  height: 250px;
  width: 380px;
}

@media only screen and (max-width: 479px) {
  .aboutus__picture_keybords {
    width: 100%;
  }
}

.aboutus__picture_table {
  background: url("aboutus/table.jpg") no-repeat;
  height: 250px;
  width: 380px;
}

@media only screen and (max-width: 479px) {
  .aboutus__picture_table {
    width: 100%;
  }
}

.aboutus__picture_tree {
  background: url("aboutus/tree.jpg") no-repeat;
  height: 250px;
  width: 380px;
}

@media only screen and (max-width: 479px) {
  .aboutus__picture_tree {
    width: 100%;
  }
}

.aboutus__picture_table:hover {
  background: url("aboutus/user.png") no-repeat 50% 50%, url("aboutus/superteam.png") no-repeat 50% 60%, url("aboutus/tablehover.jpg") no-repeat;
  box-shadow: 10px 10px #95e1dd;
}

.aboutus__picture_keybords:hover {
  background: url("aboutus/user.png") no-repeat 50% 50%, url("aboutus/superteam.png") no-repeat 50% 60%, url("aboutus/keybordshover.jpg") no-repeat;
  box-shadow: 10px 10px #95e1dd;
}

.aboutus__picture_tree:hover {
  background: url("aboutus/user.png") no-repeat 50% 50%, url("aboutus/superteam.png") no-repeat 50% 60%, url("aboutus/treehover.jpg") no-repeat;
  box-shadow: 10px 10px #95e1dd;
}

.facts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 270px;
}

.facts__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #95e1d3;
  width: 100%;
  min-height: 270px;
}

.facts__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 270px;
  width: 20%;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.facts__block_number {
  font-size: 72px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 479px) {
  .facts__block_number {
    font-size: 44px;
  }
}

.facts__block_name {
  font-size: 14px;
  font-family: "Montserrat";
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: bold;
}

@media only screen and (max-width: 479px) {
  .facts__block_name {
    font-size: 10px;
  }
}

.facts__block:nth-child(1) {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.amazing {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 650px;
  width: 100%;
}

.amazing__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 650px;
}

.amazing__text {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.amazing__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.amazing__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.amazing__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.amazing__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 320px;
}

.amazing__list_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 33%;
  min-height: 160px;
}

@media only screen and (max-width: 479px) {
  .amazing__list_item {
    width: 45%;
  }
}

.amazing__list_item-photography {
  background: url("amazing/photo.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-web {
  background: url("amazing/web.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-creativity {
  background: url("amazing/comp.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-seo {
  background: url("amazing/book.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-css {
  background: url("amazing/home.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-digital {
  background: url("amazing/image.png") no-repeat;
  width: 32px;
  height: 32px;
}

.amazing__list_item-aboutit {
  margin-left: 25px;
  width: 80%;
}

.amazing__list_item-aboutit-caption {
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.amazing__list_item-aboutit-par {
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
}

.amazing__list_item:nth-child(1), .amazing__list_item:nth-child(2), .amazing__list_item:nth-child(3) {
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}

.amazing__list_item:nth-child(4) {
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
  border: none;
}

@media only screen and (max-width: 479px) {
  .amazing__list_item:nth-child(4) {
    border-bottom: 1px solid rgba(153, 153, 153, 0.4);
  }
}

.feature {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  min-height: 853px;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 479px) {
  .feature {
    min-height: 600px;
  }
}

.feature__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: url("feature/winter.jpg") no-repeat;
  width: 100%;
  min-height: 853px;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 479px) {
  .feature__wrapper {
    min-height: 600px;
  }
}

.feature__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.feature__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.feature__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.feature__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.feature__planshet {
  background: url("feature/planshet.png") no-repeat;
  height: 583px;
  width: 477px;
}

@media only screen and (max-width: 479px) {
  .feature__planshet {
    background: url("feature/planshet.png") no-repeat 50% 100%;
    background-size: 100%;
    height: 400px;
    width: 100%;
  }
}

.feature__iphone {
  position: absolute;
  background: url("feature/iphone.png") no-repeat;
  width: 274px;
  height: 476px;
  bottom: -90px;
  right: 200px;
}

@media only screen and (max-width: 479px) {
  .feature__iphone {
    right: 0;
    background: url("feature/iphone.png") no-repeat 50% 100%;
    background-size: 50%;
  }
}

.service {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 900px;
  width: 100%;
}

@media only screen and (max-width: 479px) {
  .service {
    min-height: 1200px;
  }
}

.service__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 900px;
}

@media only screen and (max-width: 479px) {
  .service__wrapper {
    min-height: 1200px;
  }
}

.service__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.service__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.service__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.service__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.service__text_pr {
  padding: 30px 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  text-align: center;
  width: 80%;
}

.service__work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 380px;
}

@media only screen and (max-width: 479px) {
  .service__work {
    min-height: 300px;
  }
}

.service__work_picture {
  background: url("service/men.jpg") no-repeat;
  width: 47%;
  min-height: 380px;
}

@media only screen and (max-width: 479px) {
  .service__work_picture {
    width: 100%;
    background: url("service/men.jpg") no-repeat 50%;
    background-size: 150%;
  }
}

.service__work_list {
  margin-top: 10px;
  width: 47%;
  border-bottom: solid 1px #c4c4c4;
}

@media only screen and (max-width: 479px) {
  .service__work_list {
    width: 100%;
  }
}

.service__work_list-name {
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #333333;
  background: white url(arrow-square.gif) no-repeat right -51px;
  padding: 7px 15px;
  margin: 0;
  border: 1px solid rgba(153, 153, 153, 0.4);
  border-bottom: none;
  cursor: pointer;
}

.service__work_list-name:hover {
  background-color: #e3e2e2;
}

.service__work_list-name:active {
  background-position: right 5px;
}

.service__work_list p {
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
  border-top: 1px solid rgba(153, 153, 153, 0.4);
  background: white;
  margin: 0;
  padding: 10px 15px 20px;
  border-left: 1px solid rgba(153, 153, 153, 0.4);
  border-right: 1px solid rgba(153, 153, 153, 0.4);
  display: none;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.quote {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 290px;
  width: 100%;
}

.quote__wrapper {
  background: #f8f8f8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 290px;
}

.quote__icon {
  background: url("posts.png") no-repeat;
  height: 150px;
  width: 150px;
}

@media only screen and (max-width: 479px) {
  .quote__icon {
    background: url("posts.png") no-repeat 50% 50%;
    background-size: 60%;
  }
}

.quote__text {
  margin-left: 40px;
  width: 63%;
}

.quote__text_pr {
  font-size: 24px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.quote__text_who {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.quote__text_who-line {
  border: 3px solid #f38181;
  width: 60px;
}

.quote__text_who-name {
  padding-left: 10px;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.team {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  min-height: 1050px;
  width: 100%;
}

@media only screen and (max-width: 479px) {
  .team {
    min-height: 1100px;
  }
}

.team__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 1050px;
}

@media only screen and (max-width: 479px) {
  .team__wrapper {
    min-height: 1100px;
  }
}

.team__text {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.team__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.team__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.team__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.team__text_pr {
  padding: 40px 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  text-align: center;
  width: 80%;
}

.team__picture {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: space-between;
}

@media only screen and (max-width: 479px) {
  .team__picture {
    justify-content: center;
  }
}

.team__picture_men {
  min-height: 550px;
  width: 380px;
}

@media only screen and (max-width: 479px) {
  .team__picture_men {
    width: 100%;
  }
}

.team__picture_men-dix {
  position: relative;
  background: url("team/dix.jpg") no-repeat;
  height: 470px;
  width: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 479px) {
  .team__picture_men-dix {
    width: 100%;
  }
}

.team__picture_men-dix-share {
  background: #fce38a;
  height: 56px;
  width: 225px;
  z-index: 8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  display: none;
}

.team__picture_men-dix-share-facebook {
  background: url("team/face1.png") no-repeat 50% 50%;
  width: 56px;
  height: 56px;
  border-right: 1px solid rgba(243, 129, 129, 0.4);
}

.team__picture_men-dix-share-twitter {
  background: url("team/twitter.png") no-repeat;
  width: 56px;
  height: 56px;
  border-right: 1px solid rgba(243, 129, 129, 0.4);
}

.team__picture_men-dix-share-penegru {
  background: url("team/penegru.png") no-repeat;
  width: 56px;
  height: 56px;
  border-right: 1px solid rgba(243, 129, 129, 0.4);
}

.team__picture_men-dix-share-instagram {
  background: url("team/insta.png") no-repeat;
  width: 56px;
  height: 56px;
}

.team__picture_men-dix-share-facebook:hover {
  background: url("team/face1.png") no-repeat 50% 50% #f38181;
  width: 56px;
  height: 56px;
}

.team__picture_men-dix:hover {
  background: url("team/dixhover.jpg") no-repeat;
  box-shadow: 10px 10px #95e1dd;
}

.team__picture_men-dix:hover .team__picture_men-dix-share {
  display: flex;
}

.team__picture_men-text {
  padding: 30px 0;
  text-align: center;
}

.team__picture_men-text-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.team__picture_men-text-profesion {
  padding: 10px 0;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.team__picture_men-cambell {
  background: url("team/cam.jpg") no-repeat;
  height: 470px;
  width: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 479px) {
  .team__picture_men-cambell {
    width: 100%;
  }
}

.team__picture_men-cambell-share {
  background: #fce38a;
  height: 56px;
  width: 225px;
  z-index: 8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  display: none;
}

.team__picture_men-cambell-share-facebook {
  background: url("team/face1.png") no-repeat 50% 50%;
  width: 56px;
  height: 56px;
  border-right: 1px solid rgba(243, 129, 129, 0.4);
}

.team__picture_men-cambell-share-twitter {
  background: url("team/twitter.png") no-repeat;
  width: 56px;
  height: 56px;
  border-right: 1px solid rgba(243, 129, 129, 0.4);
}

.team__picture_men-cambell-share-penegru {
  background: url("team/penegru.png") no-repeat;
  width: 56px;
  height: 56px;
  border-right: 1px solid rgba(243, 129, 129, 0.4);
}

.team__picture_men-cambell-share-instagram {
  background: url("team/insta.png") no-repeat;
  width: 56px;
  height: 56px;
}

.team__picture_men-cambell-share-facebook:hover {
  background: url("team/face1.png") no-repeat 50% 50% #f38181;
  width: 56px;
  height: 56px;
}

.team__picture_men-cambell:hover {
  background: url("team/camhover.jpg") no-repeat;
  box-shadow: 10px 10px #95e1dd;
}

.team__picture_men-cambell:hover .team__picture_men-cambell-share {
  display: flex;
}

.team__picture_men-text {
  padding: 30px 0;
  text-align: center;
}

.team__picture_men-text-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.team__picture_men-text-profesion {
  padding: 10px 0;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.team__picture_men-fertic {
  background: url("team/fertic.jpg") no-repeat;
  height: 470px;
  width: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 479px) {
  .team__picture_men-fertic {
    width: 100%;
  }
}

.team__picture_men-fertic-share {
  background: #fce38a;
  height: 56px;
  width: 225px;
  z-index: 8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  display: none;
}

.team__picture_men-fertic-share-facebook {
  background: url("team/face1.png") no-repeat 50% 50%;
  width: 56px;
  height: 56px;
  border-right: 1px solid rgba(243, 129, 129, 0.4);
}

.team__picture_men-fertic-share-twitter {
  background: url("team/twitter.png") no-repeat;
  width: 56px;
  height: 56px;
  border-right: 1px solid rgba(243, 129, 129, 0.4);
}

.team__picture_men-fertic-share-penegru {
  background: url("team/penegru.png") no-repeat;
  width: 56px;
  height: 56px;
  border-right: 1px solid rgba(243, 129, 129, 0.4);
}

.team__picture_men-fertic-share-instagram {
  background: url("team/insta.png") no-repeat;
  width: 56px;
  height: 56px;
}

.team__picture_men-fertic-share-facebook:hover {
  background: url("team/face1.png") no-repeat 50% 50% #f38181;
  width: 56px;
  height: 56px;
}

.team__picture_men-fertic:hover {
  background: url("team/fertichover.jpg") no-repeat;
  box-shadow: 10px 10px #95e1dd;
}

.team__picture_men-fertic:hover .team__picture_men-fertic-share {
  display: flex;
}

.team__picture_men-text {
  padding: 30px 0;
  text-align: center;
}

.team__picture_men-text-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.team__picture_men-text-profesion {
  padding: 10px 0;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.logos {
  background: url("logo/logos.jpg") no-repeat;
  width: 100%;
  min-height: 250px;
  background-position: center;
}

.logos__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #f8f8f8;
  width: 100%;
  min-height: 250px;
}

.work {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 1200px;
  width: 100%;
}

@media only screen and (max-width: 479px) {
  .work {
    min-height: 500px;
  }
}

.work__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 1200px;
}

@media only screen and (max-width: 479px) {
  .work__wrapper {
    min-height: 500px;
  }
}

.work__text {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.work__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.work__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.work__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.work__text_pr {
  padding: 40px 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  text-align: center;
  width: 80%;
}

.work__example {
  min-height: 780px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 479px) {
  .work__example {
    min-height: 300px;
    justify-content: center;
  }
}

.work__example_bestmen {
  background: url("work/bestmen.jpg") no-repeat;
  width: 33%;
  min-height: 390px;
}

@media only screen and (max-width: 479px) {
  .work__example_bestmen {
    background-size: 100px;
    min-height: 100px;
  }
}

.work__example_house {
  background: url("work/hourse.jpg") no-repeat;
  width: 33%;
  min-height: 390px;
}

@media only screen and (max-width: 479px) {
  .work__example_house {
    background-size: 100px;
    min-height: 100px;
  }
}

.work__example_groof {
  background: url("work/groof.jpg") no-repeat;
  width: 33%;
  min-height: 390px;
}

@media only screen and (max-width: 479px) {
  .work__example_groof {
    background-size: 100px;
    min-height: 100px;
  }
}

.work__example_most {
  background: url("work/most.jpg") no-repeat;
  width: 33%;
  min-height: 390px;
}

@media only screen and (max-width: 479px) {
  .work__example_most {
    background-size: 100px;
    min-height: 100px;
  }
}

.work__example_library {
  background: url("work/library.jpg") no-repeat;
  width: 33%;
  min-height: 390px;
}

@media only screen and (max-width: 479px) {
  .work__example_library {
    background-size: 100px;
    min-height: 100px;
  }
}

.work__example_sky {
  background: url("work/sky.jpg") no-repeat;
  width: 33%;
  min-height: 390px;
}

@media only screen and (max-width: 479px) {
  .work__example_sky {
    background-size: 100px;
    min-height: 100px;
  }
}

.work__example_bestmen:hover {
  background: url("work/bestmenhover.jpg") no-repeat;
}

@media only screen and (max-width: 479px) {
  .work__example_bestmen:hover {
    background-size: 100px;
  }
}

.work__example_house:hover {
  background: url("work/hoursehover.jpg") no-repeat;
}

@media only screen and (max-width: 479px) {
  .work__example_house:hover {
    background-size: 100px;
  }
}

.work__example_groof:hover {
  background: url("work/groofhover.jpg") no-repeat;
}

@media only screen and (max-width: 479px) {
  .work__example_groof:hover {
    background-size: 100px;
  }
}

.work__example_most:hover {
  background: url("work/mosthover.jpg") no-repeat;
}

@media only screen and (max-width: 479px) {
  .work__example_most:hover {
    background-size: 100px;
  }
}

.work__example_library:hover {
  background: url("work/libraryhover.jpg") no-repeat;
}

@media only screen and (max-width: 479px) {
  .work__example_library:hover {
    background-size: 100px;
  }
}

.work__example_sky:hover {
  background: url("work/skyhover.jpg") no-repeat;
}

@media only screen and (max-width: 479px) {
  .work__example_sky:hover {
    background-size: 100px;
  }
}

.testimonial {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 290px;
  width: 100%;
}

.testimonial__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 290px;
}

.testimonial__icon {
  background: url("layer.png") no-repeat;
  height: 210px;
  width: 210px;
}

@media only screen and (max-width: 479px) {
  .testimonial__icon {
    background: url("layer.png") no-repeat 50% 50%;
    background-size: 60%;
  }
}

.testimonial__text {
  margin-left: 40px;
  width: 63%;
}

.testimonial__text_pr {
  font-size: 24px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.testimonial__text_who {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.testimonial__text_who-line {
  border: 3px solid #f38181;
  width: 60px;
}

.testimonial__text_who-name {
  padding-left: 10px;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.clients {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  min-height: 830px;
  width: 100%;
}

.clients__wrapper {
  background: url("wintermount.png") no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 830px;
  background-position: center;
  background-size: cover;
}

.clients__text {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.clients__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.clients__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.clients__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.clients__list {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.clients__list_item {
  margin: 30px 0;
  width: 50%;
  min-height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 479px) {
  .clients__list_item {
    width: 100%;
    justify-content: center;
  }
}

.clients__list_item-mat {
  background: url("clients/mat.png") no-repeat;
  height: 110px;
  width: 110px;
}

.clients__list_item-about {
  padding-left: 30px;
  width: 70%;
}

.clients__list_item-about-name {
  margin: 10px 0;
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.clients__list_item-about-profesion {
  margin: 10px 0;
  font-size: 15px;
  font-family: "Roboto";
  color: #333333;
  font-style: italic;
}

.clients__list_item-about-line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.clients__list_item-about-pr {
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
}

.clients__list_item-nick {
  background: url("clients/nick.png") no-repeat;
  height: 110px;
  width: 110px;
}

.clients__list_item-jae {
  background: url("clients/jae.png") no-repeat;
  height: 110px;
  width: 110px;
}

.clients__list_item-mike {
  background: url("clients/mike.png") no-repeat;
  height: 110px;
  width: 110px;
}

.blog {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  min-height: 770px;
  width: 100%;
}

.blog__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 770px;
}

.blog__text {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.blog__text_paragraph {
  text-align: center;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
}

.blog__text_caption {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.blog__text_line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.blog__example {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: space-between;
  min-height: 400px;
  width: 100%;
}

.blog__example_item {
  width: 31%;
  min-height: 400px;
}

@media only screen and (max-width: 479px) {
  .blog__example_item {
    width: 100%;
    justify-content: center;
  }
}

.blog__example_item-girl {
  background: url("blog/girl.png") no-repeat;
  width: 100%;
  height: 240px;
}

.blog__example_item-about {
  min-height: 160px;
  width: 100%;
}

.blog__example_item-about-name {
  margin: 20px 0;
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.blog__example_item-about-pr {
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  min-height: 40px;
  width: 90%;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
}

.blog__example_item-about-line {
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}

.blog__example_item-about-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.blog__example_item-about-icon-view {
  background: url("blog/view.png") no-repeat;
  width: 20px;
  height: 11px;
}

.blog__example_item-about-icon-number1 {
  padding-left: 5px;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.blog__example_item-about-icon-speech {
  margin-left: 20px;
  background: url("blog/speech.png") no-repeat;
  width: 16px;
  height: 14px;
}

.blog__example_item-about-icon-number2 {
  padding-left: 5px;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.blog__example_item {
  width: 31%;
  min-height: 400px;
}

@media only screen and (max-width: 479px) {
  .blog__example_item {
    width: 100%;
    justify-content: center;
  }
}

.blog__example_item-coffe {
  background: url("blog/coffe.png") no-repeat;
  width: 100%;
  height: 240px;
}

.blog__example_item-about {
  min-height: 160px;
  width: 100%;
}

.blog__example_item-about-name {
  margin: 20px 0;
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.blog__example_item-about-pr {
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  min-height: 40px;
  width: 90%;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
}

.blog__example_item-about-line {
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}

.blog__example_item-about-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.blog__example_item-about-icon-view {
  background: url("blog/view.png") no-repeat;
  width: 20px;
  height: 11px;
}

.blog__example_item-about-icon-number1 {
  padding-left: 5px;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.blog__example_item-about-icon-speech {
  margin-left: 20px;
  background: url("blog/speech.png") no-repeat;
  width: 16px;
  height: 14px;
}

.blog__example_item-about-icon-number2 {
  padding-left: 5px;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.blog__example_item {
  width: 31%;
  min-height: 400px;
}

@media only screen and (max-width: 479px) {
  .blog__example_item {
    width: 100%;
    justify-content: center;
  }
}

.blog__example_item-pen {
  background: url("blog/pen.png") no-repeat;
  width: 100%;
  height: 240px;
}

.blog__example_item-about {
  min-height: 160px;
  width: 100%;
}

.blog__example_item-about-name {
  margin: 20px 0;
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.blog__example_item-about-pr {
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  min-height: 40px;
  width: 90%;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
}

.blog__example_item-about-line {
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}

.blog__example_item-about-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.blog__example_item-about-icon-view {
  background: url("blog/view.png") no-repeat;
  width: 20px;
  height: 11px;
}

.blog__example_item-about-icon-number1 {
  padding-left: 5px;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.blog__example_item-about-icon-speech {
  margin-left: 20px;
  background: url("blog/speech.png") no-repeat;
  width: 16px;
  height: 14px;
}

.blog__example_item-about-icon-number2 {
  padding-left: 5px;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.map {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
}

.map__wrapper {
  background: url("map/map.jpg") no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  background-position: center;
  background-size: cover;
}

.map__pin {
  background: url("map/pin.png") no-repeat;
  width: 20px;
  height: 26px;
}

.map__open {
  margin: 20px 0;
  font-size: 24px;
  font-family: "Montserrat";
  color: #f38181;
  font-weight: bold;
  text-transform: uppercase;
}

.map__line {
  margin: 10px 0;
  border: 3px solid #f38181;
  width: 60px;
}

.footer {
  margin: 0 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
}

.footer__wrapper {
  background: #f8f8f8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 356px;
}

.footer__list_mogo {
  width: 42%;
}

@media only screen and (max-width: 479px) {
  .footer__list_mogo {
    width: 100%;
    margin: 10px 0;
  }
}

.footer__list_mogo-caption {
  font-size: 24px;
  font-family: "Montserrat";
  color: #cccccc;
  font-weight: bold;
  line-height: 1.2;
}

.footer__list_mogo-pr {
  margin: 40px 0;
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  line-height: 1.6;
}

.footer__list_mogo-followers {
  display: inline-block;
}

.footer__list_mogo-followers-number {
  display: inline-block;
  font-size: 18px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.footer__list_mogo-followers-word {
  display: inline-block;
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.footer__list_mogo-line {
  margin: 20px 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
  width: 95%;
}

.footer__list_mogo-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.footer__list_mogo-icon-name {
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.footer__list_mogo-icon-picture {
  margin-left: 20px;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer__list_mogo-icon-picture-facebook {
  background: url("footer/facebook.png") no-repeat 50% 50%;
  width: 20px;
  height: 15px;
}

.footer__list_mogo-icon-picture-twitter {
  background: url("footer/twitter2.png") no-repeat 50% 50%;
  width: 20px;
  height: 15px;
}

.footer__list_mogo-icon-picture-instagram {
  background: url("footer/instagram.png") no-repeat 50% 50%;
  width: 20px;
  height: 15px;
}

.footer__list_mogo-icon-picture-pito {
  background: url("footer/pito.png") no-repeat 50% 50%;
  width: 20px;
  height: 17px;
}

.footer__list_mogo-icon-picture-gmail {
  background: url("footer/gmail.png") no-repeat 50% 50%;
  width: 20px;
  height: 15px;
}

.footer__list_mogo-icon-picture-youtube {
  background: url("footer/youtube.png") no-repeat 50% 50%;
  width: 20px;
  height: 15px;
}

.footer__list_mogo-icon-picture-ball {
  background: url("footer/drible.png") no-repeat 50% 50%;
  width: 20px;
  height: 16px;
}

.footer__list_mogo-icon-picture-tumber {
  background: url("footer/tumber.png") no-repeat 50% 50%;
  width: 20px;
  height: 17px;
}

.footer__list_mogo-form {
  margin-top: 40px;
  min-height: 40px;
}

.footer__list_mogo-form-email {
  min-height: 40px;
  width: 43%;
  border: 1px solid rgba(153, 153, 153, 0.4);
  padding: 0 10px;
}

.footer__list_mogo-form-button {
  background: #95e1d3;
  color: white;
  border: none;
  min-height: 40px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  min-width: 30%;
  cursor: pointer;
}

.footer__list_blogs {
  width: 35%;
}

@media only screen and (max-width: 479px) {
  .footer__list_blogs {
    width: 100%;
    margin: 10px 0;
  }
}

.footer__list_blogs-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
  margin-bottom: 40px;
}

.footer__list_blogs-item {
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 80px;
}

@media only screen and (max-width: 479px) {
  .footer__list_blogs-item {
    align-items: flex-start;
  }
}

.footer__list_blogs-item-candel {
  background: url("footer/candel.png") no-repeat;
  width: 120px;
  height: 80px;
}

@media only screen and (max-width: 479px) {
  .footer__list_blogs-item-candel {
    background-size: 90%;
    width: 80px;
    height: 80px;
  }
}

.footer__list_blogs-item-about {
  margin-left: 20px;
  width: 66%;
}

@media only screen and (max-width: 479px) {
  .footer__list_blogs-item-about {
    margin: none;
    width: 60%;
  }
}

.footer__list_blogs-item-about-pr {
  font-size: 12px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.footer__list_blogs-item-about-data {
  font-size: 13px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.footer__list_blogs-item-sky {
  background: url("footer/skyy.png") no-repeat;
  width: 120px;
  height: 80px;
}

@media only screen and (max-width: 479px) {
  .footer__list_blogs-item-sky {
    background-size: 90%;
    width: 80px;
    height: 80px;
  }
}

.footer__list_blogs-item-about {
  margin-left: 20px;
  width: 66%;
}

.footer__list_blogs-item-about-pr {
  font-size: 12px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.footer__list_blogs-item-about-data {
  font-size: 13px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.footer__list_blogs-item-gitara {
  background: url("footer/gitara.png") no-repeat;
  width: 120px;
  height: 80px;
}

@media only screen and (max-width: 479px) {
  .footer__list_blogs-item-gitara {
    background-size: 90%;
    width: 80px;
    height: 80px;
  }
}

.footer__list_blogs-item-about {
  margin-left: 20px;
  width: 66%;
}

.footer__list_blogs-item-about-pr {
  font-size: 12px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.footer__list_blogs-item-about-data {
  font-size: 13px;
  font-family: "Roboto";
  color: #999999;
  font-style: italic;
}

.footer__list_instagram {
  width: 23%;
}

@media only screen and (max-width: 479px) {
  .footer__list_instagram {
    width: 100%;
    margin: 10px 0;
  }
}

.footer__list_instagram-name {
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
}

.footer__list_instagram-gallary {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  min-height: 268px;
}

@media only screen and (max-width: 479px) {
  .footer__list_instagram-gallary {
    width: 90%;
    min-height: 300px;
  }
}

.footer__list_instagram-gallary-picture:nth-child(1) {
  background: url("footer/picture1.png") no-repeat;
  width: 88px;
  height: 88px;
}

.footer__list_instagram-gallary-picture:nth-child(2) {
  background: url("footer/picture2.png") no-repeat;
  width: 88px;
  height: 88px;
}

.footer__list_instagram-gallary-picture:nth-child(3) {
  background: url("footer/picture3.png") no-repeat;
  width: 88px;
  height: 88px;
}

.footer__list_instagram-gallary-picture:nth-child(4) {
  background: url("footer/picture4.png") no-repeat;
  width: 88px;
  height: 88px;
}

.footer__list_instagram-gallary-picture:nth-child(5) {
  background: url("footer/picture5.png") no-repeat;
  width: 88px;
  height: 88px;
}

.footer__list_instagram-gallary-picture:nth-child(6) {
  background: url("footer/picture6.png") no-repeat;
  width: 88px;
  height: 88px;
}

.footer__list_instagram-gallary-picture:nth-child(7) {
  background: url("footer/picture7.png") no-repeat;
  width: 88px;
  height: 88px;
}

.footer__list_instagram-gallary-picture:nth-child(8) {
  background: url("footer/picture8.png") no-repeat;
  width: 88px;
  height: 88px;
}

.footer__list_instagram-gallary-picture:nth-child(9) {
  background: url("footer/picture9.png") no-repeat;
  width: 88px;
  height: 88px;
}

.footer__list_instagram-end {
  font-size: 13px;
  font-family: "Roboto";
  color: #333333;
  font-style: italic;
}
